* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: darkslategray;
}

.content {
    background-color: azure;
    margin: auto;
    text-align: center;
    width: 80%;
    border-radius: 8px;
}

header {
    font: outline;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background-color: inherit;
}

nav {
    margin: auto;
    text-align: center;
    text-decoration: none;
    background-color: inherit;
    padding: 20px;
}

/*start nav block*/
nav ul {
    background-color: inherit;
    margin:0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    display: inline-block;
    text-align: center;
}

nav ul li {
    margin: inherit;
    text-align: inherit;
    background-color: inherit;
    float: left;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    text-emphasis: block;
}

nav ul li a:hover {
    background-color: black;
    color: white;
}

/*end of nav block*/

article {
    margin:auto;
    text-align: center;
    background-color: inherit;
    border-radius: inherit;
}

footer {
    margin: auto;
    text-align: center;
    background-color: darkgray;
    border-radius: inherit;
    padding: 20px;
}

a {
    background-color: inherit;
}

h1, h2, h3, h4 {
    background-color: inherit;
    margin: 0 auto;
    border-radius: inherit;
    text-emphasis: circle;
}

p {
    background-color: inherit;
    padding: 10px;
    border: 1px black;
    border-radius: inherit;
}