* {
    margin: 0;
    padding: 0;
}

#wrapper-nav {
    background-color: red;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

#firstnav {
    background-color: yellow;
}

#secondnav {
    background-color: blue;
}

#thirdnav {
    background-color: purple;
}

#links-container {
    
}